/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/assets/
.bowerrc
bower.json
src/YouBrush/Bundle/ThemeBundle/Entity/Repository/InterfaceComponentRepository.php
var/cache/
web/assets/
